@font-face {
    font-family: myFont;
    src: url(./font/ReckyRegular-BWvXl.ttf);
}

body {
    box-sizing: border-box;
    display: flex;
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Right half */

.imgHalf {
    position: relative;
    max-width: 700px;
    min-width: 400px;
    height: 100vh;
}

.bg {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.logo {
    width: 100px;
    height: 160px;
    margin: 25px;
}

.logoTxt {
    width: 100%;
    color: white;
    position: absolute;
    top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: myFont;
    background-color: rgba(0, 0, 0, .60);
}

.source>a:visited {
    color: white;
    font-weight: 100;
}

.sourceCont {
    position: absolute;
    bottom: 10px;
    color: white;
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Left Half */

.otherHalf {
    min-width: fit-content;
    height: 100vh;
    background-color: #f7f7f7;
}

p {
    font-size: 25px;
    font-weight: bold;
    padding: 150px 100px 30px 60px;
}

.textCont {
    border: grey solid 1px;
    box-shadow: 5px 5px 5px #d3d3d3;
    background-color: white;
    font-weight: bold;
    padding: 25px 100px 50px 50px;
    font-size: 25px;
}

.columnCont {
    display: flex; 
}

fieldset.text {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.inputCont {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
}

input {
    height: 25px;
    font-size: 18px;
    border-style: solid;
    border-radius: 5px;
    border-color: #e5e7eb;
    padding: 0 10px;
}

input:focus {
    outline: none;
    border: 1px solid blue;
}


